
<%- include('include/head') %>
    <title>Products</title>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <%- include('include/sidebar') %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3  text-dark" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Inventory</h2>
                </div>

                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold text-white" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2 text-white"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div> -->
            </nav>
            <!-- BODY CONTENT -->
            <form action="/admin/inventory/add-product" method="POST" enctype="multipart/form-data">
                <div class="mb-3 text-dark fw-bold w-50 ms-4">
                  <label for="product_name" class="form-label">Product Name</label>
                  <input type="text" class="form-control" id="product_name" name="product_name" aria-describedby="emailHelp" required>
                </div>
                <div>
            
                <div class="mb-3 fw-bold w-50 ms-4">
                  <label for="product_price" class="form-label">Product Price</label>
                  <input type="number" class="form-control" id="product_price" name="product_price" required>
                </div>
                <div class="mb-3 fw-bold w-50 ms-4">
                    <label for="product_category" class="form-label">Product Category</label>
                    <input type="text" class="form-control" id="product_category" name="product_category" required>
                </div>
                <div class="mb-3 fw-bold w-50 ms-4">
                    <label class="form-label">Stocks</label>
                    <input type="number" class="form-control" id="product_stocks" name="product_stocks" required>
                  </div>
                <div class="mb-3 fw-bold w-50 ms-4">
                    <label for="formFile" class="form-label">Select image</label>
                    <input class="form-control" type="file" id="formFile" name="image" accept="image/*" required>
                </div>
                <button type="submit" class="btn btn-primary ms-4" name="addbtn">Add</button>
                <a href="/admin/inventory"><button type="button" class="btn btn-danger" name="backbtn">Go Back</button></a>
              </form>
            <!-- BODY CONTENT -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/admin.js"></script>
</body>
</html>



