<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
<%- include('include/head') %>
    <title>About</title>
</head>
<body>
    <!-- Main container -->
    <div class="page-container">
        <%- include('include/nav') %> 
                <div class="about-section">
                    <h1>ABOUT YAP'S</h1>
                    <p>Has been in the service for almost 10 years and successfully make their business bloom because of the owners hard work and dedication. They started as a reselling store and now they've became a distributor of LPG and Ice cubes around their place.</p>
                    <p>They are now distributing their ice cubes all around their place and not only that but also on the Alfa Marts near them</p>
                    <p>They also distribute different gasoline tank products and they even became an authorized reseller of one product.</p>
                </div>
                <div class="about-section2">
                    <h1>Don't forget to visit our social media sites</h1>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-google"></a>
                    <p>And leave your comments down here <i class="fa fa-arrow-down"></i></p>
                    <input type="text" class="comments" id="myInput" placeholder="Leave your comments here . . ">
                    <button class="send"  onclick="document.getElementById('myInput').value = ''" >Send</button>

                </div>
       
    </div>
    <!-- Main container -->

    <%- include('include/footer') %> 
</body>
</html>
   
   














































  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">-->
 
