<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <%- include('include/head') %>
</head>
<body>
    <div class="page-container">
        <%- include('include/nav') %>
        <div class="body-content">
            <div class="home-content">
                <div class="first-title">
                    <h1>YAP'S <br>MERCHANDISE</h1>
                </div> 
                <div class="second-title">
                    <p>Same day delivery to your purchased products on us</p>
                    <p>   What are you waiting for? Sign up now!</p>
                </div>
                <div class="quick-order-btn-container">
                    <a href="/product">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Quick Order
                    </a>
                </div>        
            </div>   
        </div>
        <%- include('include/footer') %>
    </div>
</body>
</html>