<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/user-login.css">
    
    <title>Login</title>
</head>
<body>
    <div class="page-container1">
        <div class="login-box">
            <h2>Login</h2>
                <form action="/login" method="POST">
                    <div class="err-msg" id="liveAlertPlaceholder"></div>
                    <div class="user-box">
                        <input type="email" id="email" name="email" required="">
                        <label for="email">Email</label>
                    </div>
                    <div class="user-box">
                        <input type="password" id="password" name="password" required="">
                        <label for="password">Password</label>
                        <i class="fa-solid fa-eye fa-sm " id="eye"></i> 
                    </div>
                    <div class="col-3">
                        <button class="login-btn" id="liveAlertBtn">login</button>
                    </div>
                </form>
                <div class="col-4">
                    <span>No account yet?</span>
                </div>
                <div class="col-5">
                    <a href="/sign-up"><button class="sign-up-btn">Sign Up</button> </a>
                </div>
                <!-- <div class="col-6">
                    <a href="/google"><button class="login-with-google-btn">Sign in with google</button></a>
                </div> -->
        </div>
    </div>
</body>
<script>
    const passwordInput = document.querySelector("#password")
    const eye = document.querySelector("#eye")
    eye.addEventListener("click", function(){
        this.classList.toggle("fa-eye-slash")
        const type = passwordInput.getAttribute("type") === "password" ? "text" : "password"
        passwordInput.setAttribute("type", type)
    })
</script>
<!-- <% let message = messages %> -->
<script>
    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
    const appendAlert = (message, type) => {
    const wrapper = document.createElement('div')
    console.log(message)
    wrapper.innerHTML = `<div>${message}</div>`
       
    

    alertPlaceholder.append(wrapper)
    }

    let message = '<%- message %>'
    if(message.length > 0){
        appendAlert(message, 'danger')
    }
    
</script>
</html>

