<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
<%- include('include/head') %>
    <title>Home</title>
</head>
<body>
    <!-- Main container -->
    <div class="page-container">
        <%- include('include/nav') %>
        <!-- Body container -->
        <div class="body-content">
            <div class="home-content">
                <div class="first-title">
                    <h1>YAP'S <br>MERCHANDISE</h1>
                </div> 
                <div class="second-title">
                    <p>Same day delivery to your purchased products on us</p>
                    <p> Kaya ano pang hinihintay mo? Order na!!</p>
                </div>
                <div class="quick-order-btn-container">
                    <a href="/user/product">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                          Order now
                    </a>
                </div>        
            </div>   
        </div>
        <!-- Body container -->
    </div>
    <!-- Main container -->
    <%- include('include/footer') %>
</body>
</html>
   
   