<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/faqs-3.css">
<%- include('../include/head') %>
    <title>How to Send Payment</title>
</head>
<body>
    <div class="products-page-container">
        <%- include('../include/nav') %>
        <div class="faqs3-body-container">
            <h1>How to Send Payment</h1>
                <ol type="1">
                    <li>The customer can choose either Gcash Or Cash On Delivery is the Payment Method</li>
                    <li>If you choose GCASH, you need to send the receipt of your payment. </li>
                        <div class="img-container">
                            <img class="faqs3-img1" src="/img/GCash_Logo.png" alt="">
                        </div>
                    <li>If the user choose CASH ON DELIVERY, you need wait until the products will be delivered and prepare the exact amount of the price of the products.</li>
                        <div class="img-container">
                            <img class="faqs3-img2" src="/img/—Pngtree—cash on delivery png_6271116.png" alt="">
                        </div>
                </ol>                 
        </div>               
    </div>
    <%- include('../include/footer') %>
</body>
</html>
   
   