<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/faqs-2.css">
<%- include('../include/head') %>
    <title>How to use Quick Order</title>
</head>
<body>
    <div class="products-page-container">
        <%- include('../include/nav') %>
        <div class="faqs2-body-container">
            <h1>How to use Quick Order</h1>
                    <ol type="1">
                        <li>If you want to use our quick order menu, click the button on the homepage and you will be taken to the products menu.</li>
                            <div class="img-container">
                                <img class="faqs2-img1" src="/img//quick-order-removebg-preview.png" alt="">
                            </div>
                        <li>You can view the available products and if you want to place a multiple order, simply tick the box above</li>
                            <div class="img-container">
                                <img class="faqs2-img2" src="/img/images/select multiple.png" alt="">
                            </div>
                        <li>Boxes will then show to the left of the product page </li>
                            <div class="img-container">
                                <img class="faqs2-img3" src="/img/select-multiple1.png" alt="">
                            </div>
                        <li>After clicking the "Purchase Now" option. You will be required to complete the guest information and be asked whether you approved the agreement befor they allow you to continue.</li>
                            <div class="img-container">
                                <img class="faqs2-img4" src="/img/guest-info1.png" alt="">
                            </div>
                        <li>The order summary will then show. The only method of payment we accept for quick order is "Cash on Delivery", which gives you the comport that even if the 
                            item you ordered does not arrive, you have not yet paid for it, so it will not be a huge deal. After reading the overview, click the place order button, and a one-time
                            notification will appear asking you to review the terms and conditions once more and letting you know when your order is expected to arrive.
                        </li>
                            <div class="img-container">
                                <img class="faqs2-img5" src="/img/one-time.png" alt="">
                            </div>
                    </ol>      
        </div>           
    </div>
    <%- include('../include/footer') %>
</body>
</html>
   
   