<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">
            <i class="fa-solid fa-bars fa-xl"></i>
        </button>
                <div class="dropdown-content">
                    <a class="home" href="/"><i class="fa-sharp fa-solid fa-house fa-sm"></i><span class="home-title">Home</span> </a>
                    <a class="product"  href="/product"><i class="fa-solid fa-bag-shopping"></i>Product</a>
                    <a class="cart" href="/cart"><i class="fa-solid fa-cart-shopping"></i>Cart</a>
                    <!-- <a class="account" href="/login"><i class="fa-solid fa-user"></i>Account</a> -->
                    <!-- <a class="notification" href="#"><i class="fa-solid fa-bell"></i>Notification</a> -->
                    <a class="account" href="/about"><i class="fa-solid fa-circle-info"></i>About</a>
                </div>   
    </div>
    <div class="sign-up">
        <a href="/sign-up"><span class="sign-up-title">Sign Up</span></a>
        <a href="/login"><span class="sign-up-title">Login</span></a>
    </div>
</div> 