<footer class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="footer-col">
                <div class="contacts-container">
                <h4>Contacts </h4>
                    <ul>
                        <li><i class="fa-solid fa-phone"></i>+6391234567</li>
                        <li><i class="fa-solid fa-envelope"></i>Yap's Merchandise@gmail.com</span> </li>
                        <li><i class="fa-solid fa-location-dot"></i>545 R. Palma ST. Antonio Cavite City</li>
                        
                    </ul>
                </div>
            </div>
            <div class="footer-col">
                <h4>FAQS</h4>
                    <ul>
                        <li><a href="/faqs1"> Can i cancel my order</a></li>
                        <li><a href="/faqs2"> How to use Quick Order</a></li>
                        <li><a href="/faqs3"> How to Send payment</a></li>
                        <li><a href="/faqs4"> How to edit my personal details</a></li>
                    </ul>
            </div>
        </div>
       
    </div>
</footer>