<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">
            <i class="fa-solid fa-bars fa-xl"></i>
        </button>
        <div class="dropdown-content">
            <a class="home" href="/user/home"><i class="fa-sharp fa-solid fa-house fa-sm"></i><span class="home-title">Home</span> </a>
            <a class="product"  href="/user/product"><i class="fa-solid fa-bag-shopping"></i>Product</a>
            <a class="cart" href="/user/cart"><i class="fa-solid fa-cart-shopping"></i>Cart</a>
            <a class="account" href="/user/account"><i class="fa-solid fa-user"></i>Account</a>
            <!-- <a class="notification" href="#"><i class="fa-solid fa-bell"></i>Notification</a> -->
            <a class="about" href="/user/about"><i class="fa-solid fa-circle-info"></i>About</a>
            <a class="about" href="/logout"><i class="fa-solid fa-circle-info"></i>Logout</a>
        </div>   
    </div>
</div> 