<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/faqs-4.css">
<%- include('../include/head') %>
    <title>How to edit my Personal Details</title>
</head>
<body>
    <div class="products-page-container">
        <%- include('../include/nav') %>
        <div class="faqs4-body-container">
            <h1>HOW TO EDIT MY PERSONAL DETAILS</h1>
                <ol type="1">
                    <li>At the account menu, you will see the "My Account" section. You can change your personal details like your name, contact number,
                         and your address. You can also change your password.
                    </li>
                        <div class="img-container">
                            <img class="faqs4-img1" src="/img/account.png" alt="">
                        </div>
                </ol>                 
        </div>              
    </div>
    <%- include('../include/footer') %>
</body>
</html>
   
   